*.pc
/build/vc6/*.rc
/build/include/*
/build/lib*/*
/build/*.rc
/build/*/*.sdf
/build/*/*.suo
/build/*/*.vcxproj.user
/build/*/tmp/
/build/cmake/CMakeFiles/
/build/cmake/CMakeCache.txt
/build/cmake/cmake_install.cmake
/build/cmake/Makefile
/bin
/lib
/tmp
/out
.DS_Store*
